body {
    margin: 0;
}

.nav {
    /* position: fixed; */
    box-sizing: border-box;
    padding: 20px;
    max-width: 900px;
    margin: auto !important;
}

.nav ul {
    list-style-type: none;
    padding-left: 0 !important;
}

.nav ul li {
    display: inline-block;
    padding-right: 30px;
}

.nav a {
  color: black !important;
  font-size: 1.1rem;
}

#cs50 {
  display: block;
  font-size: 1.6rem;
  line-height: 1.1rem;
  margin-top: 10px;
}

#knowledge-base {
  position: relative;
}

#knowledge-base::after {
    content: "\2197"; /* The Unicode character for an up-right arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
}

.content {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
    max-width: 900px;
    margin: auto !important;
}

.schedule {
    width: 100%;
}

.schedule td, tr {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.schedule .week {
    text-align: center;
    background-color: #E5EBF1;
}

.schedule td:nth-child(1),
.schedule th:nth-child(1) {
  width: 9%;
}

.schedule td:nth-child(2),
.schedule th:nth-child(2) {
  width: 40%;
}

.schedule td:nth-child(3),
.schedule th:nth-child(3) {
  width: 30%;
}

.schedule td:nth-child(4),
.schedule th:nth-child(4) {
  width: 10.5%;
}

.schedule td:nth-child(5),
.schedule th:nth-child(5) {
  width: 10.5%;
}

.headshot {
  display: inline-block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}