body {
    --fgColor-default-light: #1f2328;
    --bgColor-default-light: #ffffff;
    --bgColor-sched-light: #e5ebf1;

    --bgColor-default-dark: #0d1117;
    --fgColor-default-dark: #f0f6fc;
    --bgColor-sched-dark: #1F2733;
}

body {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bgColor-default-dark);
        color: var(--bgColor-default-dark);
    }

    .nav a {
        color: var(--fgColor-default-dark) !important;
    }

    .schedule .week {
        background-color: var(--bgColor-sched-dark);
    }

    .spoiler-hidden::after {
        background-color: var(--bgColor-sched-dark);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bgColor-default-light);
        color: var(--bgColor-default-light);
    }

    .nav a {
        color: var(--fgColor-default-light) !important;
    }

    .schedule .week {
        background-color: var(--bgColor-sched-light);
    }

    .spoiler-hidden::after {
        background-color: var(--bgColor-sched-light);
    }
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, 
.markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: var(--base-size-40) !important;
}

.nav {
    /* position: fixed; */
    box-sizing: border-box;
    padding: 20px;
    max-width: 900px;
    margin: auto !important;
}

.nav ul {
    list-style-type: none;
    padding-left: 0 !important;
}

.nav ul li {
    display: inline-block;
    padding-right: 30px;
}

.nav a {
  font-size: 1.1rem;
}

#cs50 {
  display: block;
  font-size: 1.6rem;
  line-height: 1.1rem;
  margin-top: 10px;
}

#knowledge-base {
  position: relative;
}

#knowledge-base::after {
    content: "\2197"; /* The Unicode character for an up-right arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
}

.content {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
    max-width: 900px;
    margin: auto !important;
}

.schedule {
    width: 100%;
}

.schedule td, tr {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.schedule .week {
    text-align: center;
}

.schedule td:nth-child(1),
.schedule th:nth-child(1) {
  width: 10%;
}

.schedule td:nth-child(2),
.schedule th:nth-child(2) {
  width: 40%;
}

.schedule td:nth-child(3),
.schedule th:nth-child(3) {
  width: 30%;
}

.schedule td:nth-child(4),
.schedule th:nth-child(4) {
  width: 10%;
}

.schedule td:nth-child(5),
.schedule th:nth-child(5) {
  width: 10%;
}

.headshot {
  display: inline-block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.spoiler, .spoiler-hidden {
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    transition: 0.5s;
}

.spoiler-hidden::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 6px;
}